


#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #888888;
}

#result {
  flex: 1;
  display: flex;
}

#result-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#preview {
  flex: 1;
  display: flex;
  border-left: 1px solid #888888;
}

.preview-content {
  flex: 1
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  font-size: large;
  outline: none;
  background: none;
  border: none;
}

ul {
  list-style-type: none;
  padding: 2px;
  margin: 2px;
}


.result-row {
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.result-row.selected {
  background-color: #888888;
}

.highlight {
  font-size: small;
  padding-left: 16px;
  color: var(--color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  flex-grow: 1;
}

em {
  font-weight: bold;
  color: var(--color);
}

object {
  background-color: transparent;
}